body {
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

figure.center {
    text-align: center;
}
figure.center img {
    margin: 0 auto;
}

.content article header h1 {
      font-size: 3.5rem;
}

h1 {
    font-size: 3.2rem;
    line-height: 3.6rem;
}

@media only screen and (max-width: 768px)
h1 {
    font-size: 1.5rem;
    line-height: 3.4rem;
}
